.card{

}
.card-body{
    text-align:center;
}
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}
.area-lances{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block; 
}

@media only screen and (max-width: 576px) {
    main{
        flex-direction: column;
        align-items: center;
    }
}