.btn-details {
    background: var(--cinza-escuro);
    color: var(--branco);
    text-align: center;
    font-size: 18px;
    width: 100%;
    height: 50px;
}

.item > p{
    margin: 10px;
    font-size: 14px;
}
th{
    color: var(--preto);
}
td{
    font-weight: bold;
   color: var(--cinza-escuro);
}